.cards {
  margin: 0 auto;
  max-width: 1180px;
  max-height: 1070px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .cards {
    max-width: 810px;
    max-height: 1780px;
  }
}

@media screen and (min-width: 860px) and (max-width: 1023px) {
  .cards {
    max-width: 810px;
    max-height: 1070px;
  }
}

@media screen and (max-width: 859px) {
  .cards {
    flex-wrap: nowrap;
    padding: 0 12px 0;
    min-height: 1690px;
    gap: 10px;
  }
}
