.cards {
  padding: 0 20px 0;
  margin: 0 auto;
  max-width: 1215px;
  max-height: 1070px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .cards {
    max-width: 810px;
    max-height: 1780px;
  }
}
