.footer__sponsors-logo {
  margin: 0 auto;
  padding-top: 33px;
  width: 454px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 859px) {
  .footer__sponsors-logo {
    width: 276px;
  }
}
