.header__logo {
  position: absolute;
  top: 61px;
  left: 130px;
  background-image: url(../../../images/header-logos.svg);
  width: 371px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
