@import url("../../blocks/header/__car-background/header__car-background.css");

@import url("../../blocks/header/__logo/header__logo.css");

@import url("../../blocks/header/__event-date/header__event-date.css");

@import url("../../blocks/header/__decorative-element/header__decorative-element.css");

@import url("../../blocks/header/__dates/header__dates.css");

@import url("../../blocks/header/__month/header__month.css");

@import url("../../blocks/header/__event-logo/header__event-logo.css");

@import url("../../blocks/header/__description/header__description.css");

@import url("../../blocks/header/__info/header__info.css");

@import url("../../blocks/header/__title/header__title.css");

@import url("../../blocks/header/__subtitle/header__subtitle.css");

@import url("../../blocks/header/__button/header__button.css");

@import url("../../blocks/header/__route/header__route.css");

.header {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
