.footer__g-energy-logo {
  width: 106px;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 859px) {
  .footer__g-energy-logo {
    width: 80px;
    background-size: contain;
  }
}
